body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 40px;
}

.remaining-todos {
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #333333;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.todo-app {
    background-color: #fff;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 0px 20px;
}

.todo-app input[type="text"] {
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
    width: 70%;
}

.todo-app button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.todo-app button.addButton {
    background-color: #8a82b6 ;
}

.todo-app button.clearButton {
    background-color: #8b0000;
}

.todo-app button:hover {
    background-color: #314152;
}

.todo-app ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.todo-app li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.todo-app li:last-child {
    border-bottom: none;
}

.todo-app li input[type="checkbox"] {
    margin-right: 10px;
}